{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb-base"
    ],
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "no-console":"off",
        "no-plusplus": "off",
        "max-len": ["warn", { "code": 150 }],
        "indent": ["error", 4],
        "no-underscore-dangle": 0
    }
}
